body {
    background: forestgreen;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    font-size: 18px;
    box-sizing: border-box;
}

img {
    max-width: 5%;
}

form {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
  
}
button {
    Search
}