header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: stretch;
    max-height: 300px;
    overflow: hidden;
}

main {
    display: flex;
}

h1,
img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
}