* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: linear-gradient(lightgray, white);
  background-attachment: fixed;
  display: grid;
  gap: 24px;
  padding: 24px 0;
}

img {
  max-width: 100%;
}

header {
  background: conic-gradient(navy, blue);
  color: white;
  border-radius: 24px;
  font-size: 24px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}

header img {
  max-height: 6em;
  aspect-ratio: 1;
  border-radius: 12px;
}

.h1-headline {
  font-size: inherit;
  display: grid;
}

.h1-headline__name {
  font-size: 1.875em;
}

.h1-headline__title {
  font-size: .875em;
  font-weight: normal;
}

h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h3 {
  font-weight: normal;
}

ul {
  margin: 0;
  display: grid;
  gap: 24px;
}

ul li {
  margin: 0;
}

nav,
header,
aside,
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 24px;
    gap: 24px;
    width: 100%;
    display: grid;
}

p {
  margin: 0;
}

.multi-column {
  display: grid;
  gap: 48px;
}

@media (min-width: 960px) {
  .multi-column {
    display: block;
    columns: 2;
  }
}

.multi-column + .multi-column {
  margin-top: 24px;
}

section {
  break-after: column;
  break-before: column;
  display: grid;
  gap: 24px;
}

.dates {
  display: grid;
  font-weight: normal;
}