* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: linear-gradient(lightgray, white);
  background-attachment: fixed;
  display: grid;
  gap: 24px;
  padding: 24px 0;
}

img {
  max-width: 100%;
}

footer,
header {
  background: conic-gradient(navy, blue);
  color: white;
  border-radius: 24px;
  font-size: 24px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
}

footer img,
header img {
  max-height: 6em;
  aspect-ratio: 1;
  border-radius: 12px;
}

.h1-headline {
  font-size: inherit;
  display: grid;
}

.h1-headline__name {
  font-size: 1.875em;
}

.h2-headline__name {
  color: white;
}

.h1-headline__title {
  font-size: .875em;
  font-weight: normal;
}

h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

ul {
  margin: 0;
  display: grid;
  gap: 24px;
}

ul li {
  margin: 0;
}

nav,
header,
footer,
aside,
main {
    max-width: 840px;
    margin: 0 auto;
    padding: 24px;
    gap: 24px;
    width: 100%;
    display: grid;
}

@media (max-width: 839px) {
  nav,
  header,
  footer,
  aside,
  main {
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 479px) {
  footer,
  header {
    gap: 0;
    justify-content: center;
    grid-auto-flow: row;
  }

  footer img,
  header img {
    margin: 0 auto;
  }

  footer h1,
  header h1 {
    text-align: center;
  }
}

p {
  margin: 0;
}

.multi-column {
  display: grid;
  gap: 48px;
}

@media (min-width: 960px) {
  .multi-column {
    display: block;
    columns: 2;
  }
}

.multi-column + .multi-column {
  margin-top: 24px;
}

.multi-column + .column {
  margin-top: 24px;
}

section,
.iframe-container {
  break-after: column;
  break-before: column;
  break-inside: avoid;
  display: grid;
  gap: 24px;
}

iframe {
  display: block;
  border: 0;
  min-height: 300px;
}

.dates {
  display: grid;
  font-weight: normal;
}

body:not(.is-loaded) * {
  display: none;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards > li {
  flex: 0 0 calc((840px - 80px) / 2);
}

@media (max-width: 840px) {
  .cards > li {
    flex: 1 1 calc((840px - 80px) / 2);
  }
}

.card {
  display: grid;
  list-style: none;
  aspect-ratio: 1;
  grid-template-rows: auto minmax(0, 1fr);
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .card {
    transition: box-shadow .2s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, .333);
    z-index: 1;
  }

  a {
    transition: text-decoration-color .2s;
  }

  a:hover {
    text-decoration-color: transparent;
  }
}

.card img {
  max-height: 100%;
}

.card-content {
  padding: 24px;
  background: navy;
  color: white;
}

.card img {
  display: grid;
}

.card-content h3 {
  text-decoration: underline;
}

@media (hover: hover) {
  .card-content h3 {
    transition: text-decoration-color .2s;
  }

  .card:hover .card-content h3 {
    text-decoration-color: transparent;
  }
}

.card-content a {
  color: white;
}