* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media screen {
  :root {
    color-scheme: dark light;
    --swatch-background: #181818;
    --swatch-interactive: #2293ff;
    --clip-path-corner: 2rem;
    --clip-path: polygon(
      100% 0,
      100% calc(100% - var(--clip-path-corner)),
      calc(100% - var(--clip-path-corner)) 100%,
      0 100%,
      0 0
    );
  }
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --swatch-background: #e2e2e3;
    --swatch-interactive: #086fd2;
  }
}

body {
  margin: 48px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-size: 125%;
  display: grid;
  gap: 48px;
  background: var(--swatch-background);
}

img {
  max-width: 100%;
}

.header {
  color: Canvas;
  font-size: 24px;
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid CanvasText;
  background: CanvasText;
  clip-path: var(--clip-path);
  gap: 24px;
  padding: 24px 72px;
}

.header img {
  flex: 0 0 auto;
  max-height: 8em;
  aspect-ratio: 1;
  clip-path: var(--clip-path);
  border: 2px solid CanvasText;
}

.h1-headline {
  flex: 0.5 0 0;
  font-size: inherit;
  display: grid;
  margin: 0;
}

.h1-headline__name {
  font-size: 1.875em;
}

.h2-headline__name {
  color: white;
}

a.h2-headline__name,
a.h2-headline__name:any-link:not(:visited):not(:active) {
  color: var(--swatch-background);
}

.h1-headline__title {
  font-size: 1em;
  font-weight: normal;
  text-wrap: pretty;
}

h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

ul {
  margin: 0;
  display: grid;
  gap: 24px;
}

ul li {
  margin: 0;
}

main {
  margin: 0 auto;
  width: 100%;
  gap: 48px;
  max-width: 960px;
  display: grid;
}

p {
  margin: 0;
}

.multi-column {
  display: grid;
  gap: 48px;
}

@media (min-width: 960px) {
  .multi-column {
    display: block;
    columns: 2;
  }
}

section,
.iframe-container {
  break-after: column;
  break-before: column;
  break-inside: avoid;
  display: grid;
  gap: 24px;
}

iframe {
  display: block;
  border: 0;
  min-height: 300px;
}

.dates {
  display: grid;
  font-weight: normal;
}

body:not(.is-loaded) * {
  display: none;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.cards > li {
  display: flex;
  width: 100%;
}

@media (min-width: 720px) {
  .cards > li {
    flex: 0 0 calc(50% - 24px);
  }
}

.card {
  font-weight: normal;
  display: grid;
  border: 2px solid CanvasText;
  clip-path: var(--clip-path);
  width: 100%;
  flex: 1;
  list-style: none;
  grid-template-rows: auto minmax(0, 1fr);
  /* border-radius: 24px; */
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  text-decoration: none;
}

a {
  font-weight: bold;
}

a:any-link:not(:visited):not(:active) {
  color: var(--swatch-interactive);
}

@media not (pointer: none) {
  .card {
    transition: box-shadow 0.2s ease-in-out;
  }

  a {
    transition: text-decoration-color 0.2s;
  }

  a:hover {
    text-decoration-color: transparent;
  }
}

.card img {
  max-height: 100%;
}

.card-content {
  padding: 24px;
  color: var(--swatch-background);
  background: CanvasText;
}

.card img {
  display: grid;
}

.card-content h3 {
  text-decoration: underline;
}

.card-content p {
  text-decoration: none;
}

@media not (pointer: none) {
  .card-content h3 {
    transition: text-decoration-color 0.2s;
  }

  .card:hover .card-content h3 {
    text-decoration-color: transparent;
  }
}

.card-content a {
  color: white;
}

model-viewer {
  height: 100%;
  width: 100%;
}
