html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}

header {
    background: #00468A;
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

.title {
    flex: 1;
    font-size: 24px;
    font-weight: bold;

}

.pet {
    border: 1px solid;
    display: flex;
}

.pet img {
    width: 100px;
    height: 125px;
}


footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer a {
    color: white;
    
}