nav {
    display: flex;
    justify-content: space-evenly;
    background: pink;
}

header {
    display: flex;
    justify-content: space-around;
    background: lightblue;
}

html {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: stretch;
    padding: 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    place-content: stretch;
    height: 100%;
}

main div {
    flex: 1;
    flex-shrink: 0;
}

img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    background: lightgreen;
}